body {
  font-family: "Arial", sans-serif;
  background-image: url("./assets/images/bgwhats.png") !important; /* Adicionei url() */
  background-color: #fffafa;
  background-size: contain;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

/* Caixa de Aviso */
.container {
  background-color: #fff;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0 4px 11px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.container img {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border: 5px solid #00b118c7;
}

/* Estilos do Texto */
h1 {
  color: #000000;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 35px;
}

p {
  color: #303030;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Botão Voltar Mais Tarde */
.btn {
  background-color: #00b118c7;
  color: white;
  padding: 18px 25px;
  border: none;
  border-radius: 17px;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.btn:hover {
  background-color: #00a115c7;
}
